body {
    background: rgb(243, 243, 243); /* fallback color */
    background: rgba(250, 250, 250, 0.5);
    /*background-color:white;*/
    background-size: 200px 100px;
    /*opacity: 0.9;*/
    
  }
  .tiledBackground {
    background-image: url('../../../8611.jpg');
    /*background-size: 150px;
    width: 300px;*/
    height: 1000px;
    border: 2px solid;
  }
  