<div class="tiledBackground">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/98/International_Pok%C3%A9mon_logo.svg/1280px-International_Pok%C3%A9mon_logo.svg.png" alt="Pokemon-Logo" width = "450" height = "200">
    <body>
        <h3>Rechercher un Pokemon </h3>
        <input type="text" pInputText [(ngModel)]="SelectedPokeName">
        <select type="text" pInputText [(ngModel)] = "SelectedPokeName">
            <option  *ngFor="let pokemon of pokeliste | filterPokemonPipe : 'name': SelectedPokeName" [value]="pokemon.name">
                {{pokemon.name}}
            </option>
        </select>
        <p-button (click)="go()" label="GO"></p-button>
        <p-button (click)="random()" label="Aléatoire"></p-button>
        <p-button (onClick)="clear()" label="Vider" styleClass="p-button-danger"></p-button>
        
        

        <div *ngIf="selectedPokemonToDisplay">
            <app-pokemon-display [displayedPokemon]="selectedPokemonToDisplay"></app-pokemon-display>

        </div>

    </body>
</div>
