<div>
    <p-card header={{displayedPokemon.name}}>
        <!--<p>Type (y'a pas tout ) : {{displayedPokemon.apiTypes[1].image}}</p>-->
        <!--<img  src={{displayedPokemon.apiTypes[1].image}} width="5%" >-->
        <div class = 'parent'>
            <p-button class='child inline-block-child' (onClick)="getPreviousPokemon()" label="Précédent" [disabled]="displayedPokemon.id==1"></p-button>
            
            <div class='child inline-block-child' style="width:20%;">
                <p-chart type="radar" 
                        [data]="data" 
                        [style]="{'width': '30%'}"
                        [options]="options">
                </p-chart>
            </div>
            <div *ngIf="!shiny" class='child inline-block-child' id="pokemonSprit">
                <img  src={{displayedPokemon.image}} width="100%" >
            </div>
            <div *ngIf="shiny" class='child inline-block-child' id="pokemonSprit">
                <img  src={{shinyUrl}} width="400%" >
            </div>
            <p-toggleButton [(ngModel)]="shiny" onLabel="Shiny" offLabel="Classique"></p-toggleButton>
            <p-button class='child inline-block-child' (onClick)="getNextPokemon()" label="Suivant" [disabled]="displayedPokemon.id==898"></p-button>
        </div>
        <div class="card">
        </div>
    </p-card>
</div>